body
{
	background-image: url("Background\ 4.jpg");
    background-position: center;
    background-size: cover;
    font-family: cursive;
}
#Motivational , #Songs , #Quote , #Devloper 
{
  width: 30%;
}
.copy_right_footer
{
    position: fixed;
    color:lightyellow;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color:black;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px linen;
}